html{
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
.header{
    height: 898px;
    position: relative;
}
.menu{
    height: 130px;
    display: flex;
    column-gap: 275px;
}
.image1{
  margin-top: 45px;
}
.container{
    width: 1256px;
    padding: 56px;
    margin: 0 auto;
}
.main_menu{
    display: flex;
    column-gap: 56px;
    align-items: center;
}

.menu-link{
  display: inline-block;
  text-decoration: none;
  color: black;
}
.menu-link:active{
  color: #118DA8;
}
.menu-link:hover{
  transform: scale(1.05) translateY(-1px);
  color: #118DA8;
}
.login{
  height: 50px;
  background-color: white;
  border:1px solid #D4D4D8;
  text-align: center;
  padding: 13px 25px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}
.signin{
  margin-left: 12px;
  height: 50px;
  background-color: black;
  text-align: center;
  padding: 13px 25px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}